<div class="delPhoto">
    <img class="ui-li-thumb" />
    <div class="rightText">
    <a href="#" data-role="button" data-icon="delete" data-iconpos="notext" data-theme="e" data-inline="true">Delete</a>
    </div>
</div>