<ul data-role="listview" id="menuList"  data-inset="false" data-theme="e"> 	
	<li id = "selectPolicy" class="sbSelectPolicy"><a href="policy_selector.html" data-role="none">%sideMenu.label.selectPolicy%</a></li>
	<li id = "home" class="sbHome"><a href="home.html" data-role="none">%sideMenu.label.home%</a></li>
 	<li id = "manage" class="sbManage"><a href="manage.html" data-role="none">%sideMenu.label.managePolicy%</a></li>
    <li id = "assistance" class="sbAssistance"><a href="roadside_assistance.html" data-role="none">%sideMenu.label.assistance%</a></li>
    <li id = "claims" class="sbClaims"><a href="claims.html" data-role="none">%sideMenu.label.claim%</a></li>
    <li id = "messages" class="sbMessages"><a href="messages.html" data-role="none">%sideMenu.label.messages%</a></li>
    <li id = "contact" class="sbContact"><a href="contact.html" data-role="none">%sideMenu.label.contact%</a></li>
    <li id = "logout" class="sbLogout"><a href="javascript:void(0);" data-role="none">%label.logout%</a></li>
</ul>
